Path: illuminati.io.com!sjdavis
From: sjdavis@io.com (Socrates)
Newsgroups: io.best-of-internet
Subject: "Thoughts Detecting Machine"
Date: 8 Dec 1994 10:18:22 GMT
Organization: Illuminati Online
Lines: 406
Message-ID: <3c6mhe$a1p@illuminati.io.com>
NNTP-Posting-Host: pentagon.io.com
Summary: mind control laser?
X-Newsreader: TIN [version 1.2 PL2]

  [note: this was found in a binaries group, crossposted to a bunch of 
other binaries groups, mostly *erotica and suchlike..]

 ----- ----- -----

     I am forwarding this letter on behalf of my father.  the conditions
described in this letter applies both to United states and Taiwan.  
Read on if you care about your liberty and freedom.

     My name is Alan Yu, a former lieutenant colonel in the Taiwan
National Defence Department.  I have since immigrated to the United
States ten years and naturalized as an U.S. citizen.  I am writing
this letter to inform you of a grave thereat to the civil rights of
American citizens and the very ideas that this nation was founded
on (Life, Liberty and Pursuit of Happiness.  This threat is a
device known as the "Thoughts Detecting Machine".

What is "Thoughts Detecting Machine"?

     There are two sources of informations that led to my knowledge
of this machine.

 
     The first source is an excerpt from South China Morning
Newspaper of Hong-Kong in 1970's.  It stated that an American
University had invented a thoughts detecting machine which can read
another person's thought.  The initial goal of this invention was
to solve severe car accident cases.  It was supposed to use by
authority to read the minds of the injured parties to piece
together the entire accident.  The C.I.A. learned and purchased the
patent on this invention (South China Morning Post)."             


     The second source is a classified military document of Taiwan.


In the spring of 1984, I was a Lieutenant Colonel of National
Defense Department of Taisan. I read a classified document from my
service Dept:  The document indicated that the Military Police of
Taiwan had purchased the thoughts detection machine (In Taiwan, we
translated its name to Psychological Language Machine) from the
United States.  The document was a request to the U.S. for parts to
repair the malfunction machines.  Before I left Taiwan, This
machine had become the most effective equipments for the security
departments of Taiwan, such as Headquarter of Police Department,
Military Police, and National Security & Investigation Department.
 

     Here are some of the basic operational principles of this
machine and the problems that existed in Taiwan arise from the
usage of this machine.

     1.  You don't have any privacy when you are being investigated
by this machine.  This machine use electromagnetic radiation waves
to investigate subject, so he who is being investigated will be
totally unaware (Electromagnetic radiation is invisible and can
penetrate walls, bricks, most metals and almost anything in its
way).  Next, it sends these collecting brain waves to the CPU and
translate these brain waves into words or picture to describe human
thoughtS.  Then, these pictures and words are display on a monitor
for analysis by the investigators.  Because the subject that's
being investigated cannot see the electromagnetic radiation, he is
totally oblivious to the fact that his thoughts are being read.
This machine will be used day and night without stop.   Therefore,
the dreams, the ideas, the inner secret or the other private things
of thb subject will be revealed by this machine to these
investigators. So the detectors just have to use the machine near
where you live or work, then they will share whole privacy from
you.  


   The process of reading the thoughts work like this.  First, two
machine is set up from two different angles.  Then, both machines
emits a high intensity radiation which crosses the subjects'
brains.  Then bgth machines are also used to receive and interpret
the information collected from against side. When the subject,s
brain waves of detecting send to the CPU,it will be translated into
thoughts with words or picture, finally appears on the monitor
which operator can read & understand. 
Machine schematic) 
                                     Electromagnetic waves
 | ----------------------  Subject------------------------- |
 |                                                          |
- ---------  |                                             ------------
Brain waves|-----------Central process unit--------------| Radiation 
receiver   |   |translate brain waves into thoughts|     | Emitter
___________    |with words, pictures, or languages,|      -----------     
               |also translates commands into      |   
               |electromagentic waves which imitates|
   |-----------|electrical impulse of the brain    |-----------|
   |           -------------------------------------           |
- -----------|                                          |-------------
command    |                                          |monitor
- ------------                                          --------------

    The best way of detecting thoughts is to make the subject fall
asleep and dreams. So the investigator almost do their job at night
when you go to sleep. But you must remember that they can collect
your thoughts any tife even when you are working.  If the
investigators want to find any special information.   There is
another way which will lead the subject to follow in his thinking
process.  For example,   They will use this machine to send a
picture to the subject in his dream(or thinking process).  The
picture maybe a person's photo or a scene related to what the
investigators want to know.  This will lead the subject to think
about these special information.  

   To lead the subject thinking about the information of they
needs, the process work like this. First, the investigator will fax
the picture into the C.P.U. and translate it into electromagnetic
waves (it's frequency imitating the electrical impulses of the
brain waves.), and send to the subject's brain.  After the subject
receive this picture in his dream(or thinking), he will react to it
in his dream(or thinking).  How the subject reacts in the dream(or
thinking process) are just what the detectors need to know.  This
way, the subject's personalities or other histories will be totally
known and handle to use by the investigator.                      

2.  It is not only harmful to your body, but it also can kill you.
    Whenever this machine is being operated on high frequency, it
can be used to kill you.  The beam of high frequency radiation
emitted from the machine can be aimed at your head or your body. 
If the target is your head, your central nervous system will be
damaged.  If the target is your body, your organs will be damaged. 
For example,  If the target is your heart, it will cause heart
problems.   You'll die with heart attack suddenly or slowly depending
on your body situation.  If the target is your kidney, it'll reduce
your sex ability.  Even if the machine is not being operated on
extreme high frequency, prolong exposure to the radiation will
still make a person ill and slowly cause his death.              
This machine can be installed into your automobile (or your home)
because it can be remote controlled.  This way, the investigator
can monitor what you are thinking when you are driving.   They also
can use high frequency radiation to interfere with your thinking
process and make you feel sleepy while you are driving to cause a
car accident on highway.  They will do this to get rid of the
subject whom they cannot control or they don't like.


3. It can be used to" drive people mad": (It's the most frequently 
used method.)     

     Whenever the operators decide to get rid of their subjects,
they can use "Thoughts Detecting Machine" to play with the
subject's mind. First,they will use the machines to find out the
subject's secrets or intention. Then, whenever the subject goes,
the operators will meet him there and hint that they know his
secret.  It is their purpose to make the subject feels that he has 
absolutely no privacy. This will give the subject the impression
that everyone know everything about him, Eventually, this will lead
to paranoia and insanity. 

     If this does not work, the operator will take the next
action.  They will use the machine to talk to the subject. The
investigators do this to drive the subject crazy or set him up to
appear as insane.    Now let me explain how it works!             
 
     The human brain is not only responsible for thoughts,but it's
also a receiver for electrical impulses from various parts of the
body. The brain translates these impulses into actual sound or
sensation. For example, the human ears only collect sound waves. It
then translates these sound waves into electrical impulses and send
it to the brain. The brain translates these impulses into actual
sounds. If you can directly send the electrical signal (which
describe the voice) straight to the subject's brain. Then the
subject will hear sound without actually hearing it through the
ears. The ears is completely bypass in this hearing process. (
there is another evidence, the researchers reported "They have
enable deaf people to talk on the phone again by putting electrodes
into the ears of deaf people" & "they've made a blind woman see
patterns of light by putting electrodes in the back of her brain"--
In a special report from the mystery of sense of" Discover"
magazine  June 93).                                               

    The " Thoughts Detecting Machine" use the same principle to
imitating the frequency of electrical impulses and actual
sound(generated by the ears). Then, this electromagnetic wave is
aimed directly at the subject's brain. This will cause the subject
to hear what the operators want him to hear without actually
hearing it.                                                       

    The above principle is the most important information which the
investigator always abuse the "Thoughts Detecting Machine" to drive
the people mad. The investigators will take this for their second
action when they found the subjects are strong enough and the first
action didn't succeed. They will operate the electromagnetic waves
as the electrical impulses  of operator' voice (which are
translated from operator' voice in the C.P.U.) and shoot to the
target (subject's brain). The subject will hear what they say as
normal dialogue in a whisper, but actual there is no any voice can
be heard by ears and can't see anyone around himself. This way will
make the subject feeling himself as paranoia.                     

   If it didn't work,  furthermore, they will use the machine argue
with the subject to make the subject angry. They are eager to make
the subject can't stopping to argue with the operators who are
hiding, Especial when there are other people around the subject.
Then the other people will agree that the subject have been crazy
because they didn't see anyone around there to argue with the
subject.  It's the way which investigators ser the subject up and
to appear the subject as insane to others, or even make others
thinking about that the subject just argue with the ghost. At
last,to make the all other people treat the subject as insanity. 
It's the most frequently used method to get rid of the subject.
 
   There is another way to drive people mad;    I'll explain it to
you as follow;                                                    
 
   When they decided to operate high radiation to get rid of a
person.  They'll keep hurting him by operating the electromagnetic
waves.  If the subject doesn't know then he'll be slowly killed by
this machine.  But even he already know that the investigators will
still keep doing it to drive him mad.   It will make the subject
angry but just can't fight back because they're hiding in fachine. 
The subject will find out what he face are the invisible enemies. 
It'll be the most terrible time to him except he can find out where
the radiation waves are operated from.   If the subject can't do
that it's the another way to drive people mad.  It will just like
what had happened as before which was written on the newspaper. "
Some guys shoot the gun on street to take out his anger on tde
strangers." And this guy will be charged murder or insane by the
officer.   Actually, the guy isn't real crazy.  He knows somebody
set him up and make him angry, but he just doesn't have the
knowledge about the "Thoughts Detecting Machine".   So he never
know what he face is the invisible enemy.  He is hurt by someone
and full the anger in his mind, but no way to take out his anger on
anyone.  Ir's just because there is no any obvious enemy in front
of him to fight back.  This ways to keep working day by days,the
subject who be set up will only take out his anger to everyone who
he meet.  He will appear the insane to others at the end.  The
whole story is very simple to them whom knows the "thoughts
Detecting Machine", because the subject was just set up by the
operators of "Thoughts Detecting Machine".                        

4.  This machine had built a new slave system, because the subject
who be investigated had been treated only as a property of them.
 
    The machine uses invisible electromagnetic waves to invade
people's privacy and read people's thoughts without trace of any
evidence.  The subject is unaware that his thoughts are being read.
So, the operators can uses this machine on anyone as many times as
he please and hurt anyone without any permit.  The most horrible
thing is the operators always use this machine depending on his
mood.  When the operators are in a good mood, the subject may face
a fair treatment.  But when the operators are in bad mood because
he does not complete understand the subject with this machine, the
operator will take out his anger on the subject and punish the
subject with this machine until the subject is dead.  The subject
is not under any protection of law because there are no trace of
any evidence with the weapon of radiation waves. The subject is
treated only as their property.  The investigators do believe that
we (who are detected) belong to them (their kids or property) , and
they can do anything to us even take away our life.   Because
they do everything by this invisible electromagnetic waves and
shows no trace of evidence.  There is no law to regulate this
groups also.  The operating way of "thoughts detecting machine" had
built a real new slave system and treated us only as their kids and
properties.


5.  The actions of "The Thoughts Detecting Machine operators" are
moving toward Communism.                                          

    Since the operators use this machine to share your thoughts,
your dreams, your ideas, your privacy, your body, and your life
(They even can hurt your body and take away you life just by
operating the machine at high frequency).  You are definitely not
the true owner of yourself.  No longer, do you belong only to
yourself.  The "Thoughts Detecting Machine's operators share all of
you memories and everything that is in you mind.  Which the
Communists cannot even do , but the operators of this machine had
achieved it.                                                      
 

6.  Who are investigated by the "Thoughts Detecting Machine
operators".                                                       

    Based on how this machine has been used in Taiwan. I should say
that they try investigate everyone in their country.  They do not
have enough agents, however, to do this.  Therefore, they focus
their attention on investigating the key person in politics,
business, science, organized crime, etc.  These people are mayor,
the congressmen, highly ranked scientists, businessmen, the crime
bosses or anyone whom they are interested in.  The actions of these
operators are beyond all logical thinking.  They not only
investigate criminal, but also normal people whom are important or
they are interested in. The operators will keep their records on
the subject forever.  They will continue their investigation of
same person as they like to make sure the subject is under their
handle.  They think it's the best way to protect the country. So if
it's the same situation in United States. Who are investigated by
them?  I believe "most of us are investigated by them at least
once."  If we don't make a new law to regulate this groups and
machine right now.  The situation will only get worse.  The
unauthorized power of the investigators will extent to maxima.  And
it will be even more difficult to be changed in the future.       
 
7.  " How they use the machine to detect and control the people, to
drive him mad and even to kill him?".  Let me explain it to you.  

    At the very beginning, they must install the machine near the
subject's address who be detected, from one point (the address of
subject) to the whole residence area of the subject.  And then open
the whole "Thoughts Detecting Machine" of their agegts ( each agent
hold a machine in his own address) who live around or near by the
people who be detected.                                           

 
    So their agents investigate the subject in normal situation or
regular time.  Once they want to drive the subject mad.  wherever
he want to go,they can meet him in everywhere and know what he will
do.  This is the way to drive people mad.     If they try to get
rid of the subject, they will shoot the magnetic radiation waves to
the subject from the whole "Thoughts Detecting Machine" of their
agents in the area where the subject live with them.  Then to hurt
the body, the organs,even the central nerve system of the subject. 
And the electromagnetic radiation waves will shoot the target (the
subject's body) surrounding the subject's address. It's a illegal
murder by using the invisible high radiation waves.  They're guilty
but can't be hold by law.                                         


    If "Thoughts Detecting Machine" are installed into
every public building such as supermarkets, theaters, schools,
shopping centers, train stations, air ports or sea ports..etc, and
there is a central control system of this machine in every county. 
Then what will happen ?  The operators of the "Thoughts Detecting
Machine" just stay in the building of the central control system of
such machine with high technology.  They can investigate anyone in
any place.  We'll not only have none Privacy, our life also in
danger. Because the detector can use the electromagnetic
radiation waves to hurt anyone in anytime with no trace of any
evidence.  If the detector truly want to do so and get rid of
someone.   There is no any safe place to us.  And it's not only
against law but also the worst way to treat us who live in the land
of free.                                                          

      The above information were known by me for the past ten
years. What I want to emphasdze and point out are" they have three
steps to get rid of a subject whom may be out of the investigator's
control or the investigators just don't like him". The first step
is to drive the person mad, if they didn't succeed then the second
step is to install the machine in the car to cause car accident on
highway, and the third step is to kill off the person slowly on his
bed with high frequency radiation waves.                          

     What I am concern is the way that this (Psychological language
machine) Thoughts Detecting Machine could & had already been abuse
as above.  It not only can read the thoughts of people and invade
his privacy without permission. It also already be operated as high
level electromagnetic waves as a weapon to hurt, punish or even
kill the srbjects whom are out of their control or they don't like.
They dare to do all illegal things and can't be held by law. It's
just because they do anything using the high electromagnetic waves
and there is no trace of any evidence.  They are guilty but had
escaped from the law.                                             

     Since this machine had already been used efficiently in
Taiwan.  It should be used more effectively and efficiently in the
United States -where it was originally invented.   In the past ten
years, they may already include this machine in the city design and
have been using the machine from the basic public safety of county
to the states of the whole country, then to the international co-
operation with foreign country.  Which means from the police
department to the F.B.I. then to the C.I.A. all have been using
this "Thoughts Detecting Machine".  And the C.I.A. just keep the
patent rights of this machine.          

 
     If the above situation is correct, then this machine should
already have been installed in all public buildings, such as 
shopping centers, schools, supermarkets, airports, etc.  Their
power will be unstoppable.  Nobody can control or stop them when
they make mistake or even do something against law.  Because there
is no trace of any evidence with the high frequency radiation
waves.  So even the actions of some of them are illegal, it can
never be held accountable in the court of law because there are no
evidences.  Nowhere is safe and that's including our personal home.
We will have no privacy and shall forever be threatened by high
frequency electromagnetic radiation.

     I truly hope that our responsible reporter will have knowledge
of such machine and the harm this machine can bring.   If the
F.B.I. and police officer of our country had been using this
machine to investigate our citizens just like Taiwan.  I hope you 
will look into this event and take action so that laws can be made
to regulate this machine.   Then our citizen's rights which include
our human rights will soon give back to us.  


                  Sincerely Yours,

 

                                                                  

                                                                  

                       Alan Yu

